.header {
    background-color: #008;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    padding: 0 10%;
}

.header button {
    font-size: inherit;
    cursor: pointer;
}

.button__alt {
    background-color: #008;
    color: #ddd;
    border: none;
    margin: 20px
}

.button {
    background-color: #cc0;
    border: 1px solid #cc0;
    border-radius: 15px;
    margin: 20px;
    padding: 7px 30px;
}